* {
  max-width: 800px;
  margin: 8px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 420px;
  background: #fff;
  height: 275px;
  margin: 0px;
  top: 0px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  position: relative;
  top: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  position: relative;
  background: #e3f4ff;
  padding: 18px 6px;
  top: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 22px;
  position: relative;
  top: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 122px;
  padding: 18px;
}